@import 'reset';
@import 'variables';
@import 'typography';

@media (min-width: $viewport-lg-min) {
  body {
    background: url("../images/background.jpg");
    background-size: 520px;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $color-brand-primary;

  &:hover {
    text-decoration: underline;
  }
}




