@import 'variables';

body, input, textarea, button {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-ll;
}

h4 {
  font-size: $font-size-l;
}

h5 {
  font-size: $font-size-m;
}

@media (min-width: $viewport-md-min) {
  h1 {
    font-size: $font-size-xxxl;
  }

  h2 {
    font-size: $font-size-xxl;
  }

  h3 {
    font-size: $font-size-xl;
  }

  h4 {
    font-size: $font-size-l;
  }

  h5 {
    font-size: $font-size-m;
  }
}

section + section {
  margin: 24px 0;

  @media (min-width: $viewport-md-min) {
    margin: 48px 0;
  }

  & > *:first-child {
    margin-top: 0;
  }
}
