$font-size-base: 16px;
$font-family-base: 'Merriweather', serif;
$line-height-base: 1.2;

$color-brand-primary: #E84C62;
$color-brand-secondary: #165C73;
$color-lightgrey: #D3D3D3;
$color-grey: #999999;
$color-lightgrey: #EEEEEE;

$font-size-xxxl: 36px;
$font-size-xxl: 32px;
$font-size-xl: 24px;
$font-size-ll: 20px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;

$viewport-md-min: 480px;
$viewport-lg-min: 960px;

$space-s: 16px;
$space-m: 24px;
